
.cdk-drop-list-dragging {
  .cdk-drag {
    &:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.person-placeholder,
.slot-pill-placeholder {
  border: var(--bs-border-width) dashed var(--bs-gray-500);
  border-radius: 0.5rem;

  background: var(--bs-tertiary-bg);

  min-height: 3rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
}

.person-placeholder {
  min-height: 4rem;
}
