.grouping {
  --grouping-tool-bar-height: 4rem;
  --list-height: calc(100vh - var(--top-bar-height) - var(--grouping-tool-bar-height) - 4rem);

  &-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "persons teams";
    gap: 1rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  &-persons {
    grid-area: persons;
  }

  &-person-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: var(--list-height);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .person-mini-view {
      border: 1px solid var(--bs-light);
      border-radius: 0.5rem;
      background-color: var(--bs-tertiary-bg);

      padding: 0.5rem;

      .person-view {
        .knowledge-pill-title {
          font-weight: 400;
        }

        .knowledge-pill-remark {
          display: none;
        }

        .popover {
          display: block;
        }
      }
    }
  }

  &-teams {
    grid-area: teams;
  }

  &-team-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 80vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    padding-top: 0.5rem;

    height: var(--grouping-tool-bar-height);

    .btn {
      height: fit-content;
    }

    .btn-group-with-description {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }

    .btn-group-description {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--bs-gray-600);
    }

    .sort-symbol {
      width: 2ch;
    }
  }

  &-toolbar-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  &-toolbar-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: auto;
  }

  .sort-symbol {
    display: inline-block;
  }
}
