.grouping {
  h3 {
    font-size: 1.1rem;
  }

  &-person-list,
  &-team-list {
    margin-top: 1rem;
    padding-bottom: 3rem;
  }

  &-person-list {
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  &-team-list {
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
