.grouping {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "persons teams";
  gap: 1rem;

  h3 {
    font-size: 1.1rem;
  }

  &-persons {
    grid-area: persons;
  }

  &-person-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    //height: 200px;
    overflow: auto;
    background: red;

    .person-mini-view {
      border: 1px solid var(--bs-light);
      border-radius: 0.5rem;
      background-color: var(--bs-tertiary-bg);

      padding: 0.5rem;

      .person-view {
        .knowledge-pill-title {
          font-weight: 400;
        }

        .knowledge-pill-remark {
          display: none;
        }

        .popover {
          display: block;
        }
      }
    }
  }

  &-teams {
    grid-area: teams;
  }

  &-team-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    //height: 80vh;
    overflow: auto;
    background: purple;
  }
}
