
.info-box {
  background: var(--bs-tertiary-bg);

  border: 2px solid var(--bs-light);
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  max-width: 40%;
  margin: 0 auto;
  padding: 2rem;

  &-header {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  &-body {
  }

  &-additional {
    display: flex;
    gap: 0.75rem;

    margin-bottom: 1rem;

    color: var(--bs-secondary-color);
    font-weight: 300;

    i {
      font-size: 1.75rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &.success {
    border: 2px solid var(--bs-success);
  }

  &.warning {
    border: 2px solid var(--bs-warning);
  }

  &.info {
    border: 2px solid var(--bs-info);
  }

  &.danger {
    border: 2px solid var(--bs-danger);
  }
}

@container (max-width: 900px) {
  .info-box {
    max-width: 70%;
  }
}

@container (max-width: 500px) {
  .info-box {
    max-width: 100%;
  }
}
