
.person-offcanvas {
  width: 75% !important;
}

.slot-pill {
  border: 1px solid var(--bs-light);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;

  background: var(--bs-body-bg);

  .slot-pill-title {
    font-size: var(--bs-font-size);
    font-weight: bold;
  }
}

.person-form {
  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .slot-source,
  .slot-target {
    h4 {
      font-size: 1rem;
      font-weight: 600;
    }

    h5 {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0.5rem;
    }

    .hidden {
      display: none;
    }

    .slot-time {
      font-size: 0.75rem;
    }
  }

  .slot-list {
    background-color: var(--bs-light-bg-subtle);
    border: 1px solid var(--bs-light);
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 1rem;
    min-height: 5rem;

    &.invalid-list {
      .invalid-feedback {
        display: block;
      }

      .empty-list-hint {
        display: none;
      }
    }

    .empty-list-hint {
      display: block;
    }
  }
}

.person-view {
  display: flex;
  justify-content: space-between;

  &-body {
    flex: 1 1 auto;
    margin-right: 1rem
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    p {
      margin-bottom: 0;
    }
  }

  &-title {
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  &-info {
  }

  &-interaction {
    width: fit-content;
  }

  &-knowledge {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: flex-start;
  }

  &-timeslots-info {
    display: none;
  }

  .knowledge-pill {
    border: var(--bs-border-width) solid var(--bs-gray);
    border-radius: 0.5rem;
    background: var(--bs-tertiary-bg);

    padding: 0.25rem 0.75rem;
    max-width: 30ch;

    font-size: 0.8rem;

    .knowledge-pill-title {
      font-weight: bold;
    }

    .knowledge-pill-remark {
      font-style: italic;
    }
  }

  .popover {
    display: none;
  }
}

.person-view-slots {
  display: flex;
  gap: 0.5rem;
  height: fit-content;

  .person-view-slot {
    background: var(--bs-light-bg-subtle);
    padding: 0.25rem;
    border: 1px solid var(--bs-light);
    border-radius: var(--bs-border-radius-sm);
  }

  .slot-priority {
    color: var(--bs-gray-600);
    margin-left: 0.25rem;
    margin-right: 0.75rem;
  }
}

.person-mini-view {
  border: 1px solid var(--bs-light);
  border-radius: 0.5rem;
  background-color: var(--bs-body-bg);
  padding: 0.5rem;

  .popover {
    display: block;
  }
}

.team {
  .person-mini-view {
    background: var(--bs-body-bg);

    p {
      margin-bottom: 0;
    }

    .small {
      font-size: 0.8rem;
    }

    .knowledge-pill {
      border: 1px solid var(--bs-light);

      padding: 0.1rem 0.5rem;

      display: -webkit-box;
      -webkit-line-clamp: var(--line-clamp, 1);
      -webkit-box-orient: vertical;
      word-break: var(--word-break, 'none');
      overflow: hidden;
      hyphens: auto;
      text-align: var(--align, left);
    }

    .person-view-slots {
      display: none;
    }

    .person-view-timeslots-info {
      display: block;

      .badge {
        font-size: 0.7rem;
        font-weight: 500;
      }

      .preferred {
        border: var(--bs-border-width) solid var(--bs-gray-600);
      }
    }

    .popover {
      h5 {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

.team-presentation {
  .person-mini-view {
    .person-view {
      align-items: center;
    }

    .person-view-header {
      margin-bottom: 0;
    }

    .person-view-timeslots-info,
    .person-view-info,
    .knowledge-pill {
      display: none;
    }
  }
}

.cdk-drag-preview.person-mini-view {
  .person-view-slots,
  .person-view-timeslots-info,
  .person-view-info {
    display: none;
  }
}
