.person-form {
  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .slot-source,
  .slot-target {
    h4 {
      font-size: 1rem;
      font-weight: 600;
    }

    h5 {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0.5rem;
    }

    .hidden {
      display: none;
    }

    .slot-time {
      font-size: 0.75rem;
    }
  }

  .slot-list {
    background-color: var(--bs-light-bg-subtle);
    border: 1px solid var(--bs-light);
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 1rem;
    min-height: 5rem;
  }

  .slot-pill {
    border: 1px solid var(--bs-light);
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;

    background: var(--bs-body-bg);

    .slot-pill-title {
      font-size: var(--bs-font-size);
      font-weight: bold;
    }
  }

  .slot-pill-placeholder {
    border: 1px dashed var(--bs-light);
    border-radius: 0.5rem;

    background: var(--bs-tertiary-bg);

    min-height: 3rem;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
  }
}
