
.person-offcanvas {
  width: 75% !important;
}

.slot-pill {
  border: 1px solid var(--bs-light);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;

  background: var(--bs-body-bg);

  .slot-pill-title {
    font-size: var(--bs-font-size);
    font-weight: bold;
  }
}

.person-form {
  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .slot-source,
  .slot-target {
    h4 {
      font-size: 1rem;
      font-weight: 600;
    }

    h5 {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0.5rem;
    }

    .hidden {
      display: none;
    }

    .slot-time {
      font-size: 0.75rem;
    }
  }

  .slot-list {
    background-color: var(--bs-light-bg-subtle);
    border: 1px solid var(--bs-light);
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 1rem;
    min-height: 5rem;

    &.invalid-list {
      .invalid-feedback {
        display: block;
      }

      .empty-list-hint {
        display: none;
      }
    }

    .empty-list-hint {
      display: block;
    }
  }
}

.person-view {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 1.05rem;
    font-weight: 600;
  }

  &-body {
    flex: 1 1 auto;
    margin-right: 1rem
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
  }

  &-interaction {
    width: fit-content;
  }

  &-knowledge {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: flex-start;
  }

  &-info {
    display: none;
  }

  .knowledge-pill {
    border: 1px solid var(--bs-gray);
    border-radius: 0.5rem;
    background: var(--bs-tertiary-bg);

    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
    max-width: 30ch;

    font-size: 0.8rem;

    .knowledge-pill-title {
      font-weight: bold;
    }

    .knowledge-pill-remark {
      font-style: italic;
    }
  }

  .popover {
    display: none;
  }
}

.person-view-slots {
  display: flex;
  gap: 0.5rem;
  height: fit-content;

  .person-view-slot {
    background: var(--bs-light-bg-subtle);
    padding: 0.25rem;
    border: 1px solid var(--bs-light);
    border-radius: 0.5rem;
  }

  .slot-priority {
    color: var(--bs-gray-600);
    margin-left: 0.25rem;
    margin-right: 0.75rem;
  }
}

.person-mini-view {
  border: 1px solid var(--bs-light);
  border-radius: 0.5rem;
  background-color: var(--bs-tertiary-bg);
  padding: 0.5rem;

  .popover {
    display: block;
  }
}
