
.knowledge-pill {
  border: var(--bs-border-width) solid var(--bs-gray);
  border-radius: 0.5rem;
  background: var(--bs-tertiary-bg);

  padding: 0.25rem 0.75rem;
  max-width: 30ch;

  font-size: var(--person-view-secondary-font-size);

  .knowledge-pill-title {
    font-weight: bold;
  }

  .knowledge-pill-remark {
    font-style: italic;
  }
}

.team {
  .person-mini-view {
    .knowledge-pill {
      border: 1px solid var(--bs-light);

      padding: 0.1rem 0.5rem;

      display: -webkit-box;
      -webkit-line-clamp: var(--line-clamp, 1);
      -webkit-box-orient: vertical;
      word-break: var(--word-break, 'none');
      overflow: hidden;
      hyphens: auto;
      text-align: var(--align, left);
    }
  }
}
