.sidebar {
  background: var(--bs-tertiary-bg);
  border-right: var(--bs-border-width) solid var(--bs-light);

  padding: 1rem 1rem 0.5rem;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);

  display: flex;
  flex-direction: column;
  max-width: 100%;

  &-header {
    margin-bottom: 2rem;
  }

  &-body {
    flex-grow: 1;
  }

  .sidebar-footer {
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.brand {
  display: flex;
  align-items: center;
  color: var(--bs-primary);

  .brand-logo {
    border: 2.5px solid var(--bs-primary);
    border-radius: 0.75rem;

    margin-right: 0.5rem;

    height: 3rem;
    aspect-ratio: 1;

    font-size: 1.75rem;
    text-align: center;
  }

  .text-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1;

    h2 {
      font-size: 1.25rem;
    }

    small {
      font-weight: 350;
    }
  }
}
