.team {
  border: 1px solid var(--bs-light);
  border-radius: 0.5rem;
  background-color: var(--bs-tertiary-bg);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.075);

  padding: 0.5rem 0.5rem 1.5rem;

  min-height: 6rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    font-size: 0.9rem;
    font-weight: 400;
    color: var(--bs-gray-600);

    h4 {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--bs-gray-600);
    }
  }

  &-body {
    .person-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}


.team .person-mini-view,
.cdk-drag-preview.person-mini-view {
  background: var(--bs-body-bg);

  p {
    margin-bottom: 0;
  }

  .small {
    font-size: 0.8rem;
  }

  .knowledge-pill {
    border: 1px solid var(--bs-light);

    padding: 0.1rem 0.5rem;

    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    word-break: var(--word-break, 'none');
    overflow: hidden;
    hyphens: auto;
    text-align: var(--align, left);
  }

  .person-view-slots {
    display: none;
  }

  .person-view-info {
    display: block;
  }

  .popover {
    h5 {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}
