.team {
  --team-border-width: 4px;

  border: var(--bs-border-width) solid var(--bs-light);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-secondary);

  min-height: 6rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    font-size: 0.9rem;
    font-weight: 400;

    background: var(--bs-body-bg);
    border-radius: calc(var(--bs-border-radius) - var(--team-border-width));

    margin: var(--team-border-width);
    margin-bottom: 1rem;

    padding: 1rem;

    h4 {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--bs-gray-600);
    }
  }

  &-body {
    margin: calc(var(--team-border-width) * 3);

    .person-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}



