.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;

  background: var(--bs-body-bg);

  padding-top: 0.5rem;

  height: var(--tool-bar-height);

  &-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  &-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: auto;
  }

  .fit-height {
    height: fit-content;
  }

  .btn {
    height: fit-content;
  }

  .btn {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: var(--bs-border-radius-sm);
  }

  .btn-danger {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-color: #dc3545;
    --bs-btn-bg: transparent;
  }

  .btn-group-with-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .btn-group-description {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--bs-gray-600);
  }

  .sort-symbol {
    display: inline-block;
    width: 2ch;
  }
}
