<div class="toolbar mb-3"
     role="toolbar"
     aria-label="Toolbar for working with prior knowledge"
     i18n-aria-label="@@t.toolbarLabelForPriorKnowledgeList">
  <div class="toolbar-buttons">
    <button app-add-button
            caption="Add knowledge item"
            i18n-caption="@@t.addKnowledgeItem"
            (click)="onAdd(content)">
    </button>

    @if ((knowledgeList$ | async)!.length > 0) {
      <button app-delete-button
              caption="Clear all prior knowledge"
              i18n-caption="@@t.clearAllPriorKnowledgeCaption"
              confirmationMessage="Are you sure you want to clear all prior knowledge?"
              i18n-confirmationMessage="@@t.clearAllPriorKnowledgeConfirmationMessage"
              (deleteConfirmed)="onDeleteAll()">
      </button>
    }
  </div>
</div>

<div class="content-area">
  <ul class="list-group scrollable-area">
    @for (priorKnowledge of knowledgeList$ | async; track priorKnowledge.id) {
      <li class="list-group-item list-group-item-action pointer"
          (click)="onEdit(content, priorKnowledge)">
        <app-prior-knowledge-view [knowledge]="priorKnowledge"
                                  (edit)="onEdit(content, $event)"
                                  (delete)="onDelete($event)"
        />
      </li>
    } @empty {
      <app-data-not-available-view title="No prior knowledge found"
                                   i18n-title="@@t.noPriorKnowledgeFound"
                                   mode="warning"
                                   [messageTemplate]="messageTemplate"/>
    }
  </ul>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ canvasTitle }}</h4>
    <button type="button"
            tabindex="-1"
            class="btn-close"
            aria-label="Close"
            i18n-aria-label="Close|@@t.close"
            (click)="offcanvas.dismiss('Cross click')">
    </button>
  </div>

  <app-prior-knowledge-edit
    class="offcanvas-form"
    [knowledge]="knowledgeToEdit"
    [edit]="edit"
    (cancelled)="onEditCancelled()"
    (saved)="onEditSaved()"
  />
</ng-template>


<ng-template #messageTemplate>
  <app-data-not-available-info
    text="A person's prior knowledge is utilized to achieve a good mix of
     expertise within the team when assembling teams later."
    i18n-text="|@@t.priorKnowledgeNotAvailableInfoMessage"/>

  <p i18n="|@@t.startCreatingPriorKnowledge">
    Begin creating prior knowledge by using the button below.
  </p>

  <button type="button"
          class="btn btn-primary"
          (click)="onAdd(content)"
          i18n="Add prior knowledge|@@t.addPriorKnowledgeCaption">
    Add prior knowledge
  </button>
</ng-template>
