<app-add-header-bar
  caption="Add knowledge item"
  (addClick)="onAdd(content)"
/>

<ul class="list-group">
  @for (priorKnowledge of knowledgeList$ | async; track priorKnowledge.id) {
    <li class="list-group-item list-group-item-action pointer"
        (click)="onEdit(content, priorKnowledge)">
      <app-prior-knowledge-view [knowledge]="priorKnowledge"
                                (edit)="onEdit(content, $event)"
                                (delete)="onDelete($event)"
      />
    </li>
  } @empty {
    <app-data-not-available-view title="No prior knowledge found"
                                 mode="warning"
                                 [messageTemplate]="messageTemplate"/>
  }
</ul>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ canvasTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>

  <div class="offcanvas-body">
    <app-prior-knowledge-edit
      [knowledge]="knowledgeToEdit"
      [edit]="edit"
      (cancelled)="onEditCancelled()"
      (saved)="onEditSaved()"
    />
  </div>
</ng-template>


<ng-template #messageTemplate>
  <app-data-not-available-info text="A person's prior knowledge is utilized to
        achieve a good mix of expertise within the team when assembling
        teams later."/>

  <p>
    Begin creating prior knowledge by using the button below.
  </p>

  <button type="button"
          class="btn btn-primary"
          (click)="onAdd(content)">
    Add prior knowledge
  </button>
</ng-template>
