<div class="d-flex justify-content-between">
  <div>
    <div class="fw-medium">
      {{ knowledge().name }}
    </div>
    <div>
      <small>{{ knowledge().description }}</small>
    </div>
  </div>

  @if (showButtons()) {
    <div>
      <button class="btn btn-primary me-2" (click)="onEdit($event)">
        <i class="bi-pencil"></i>
        <span class="visually-hidden">Edit {{ knowledge().name }}</span>
      </button>

      <app-delete-button
        confirmationTitle="Delete knowledge item"
        confirmationMessage="Are you sure you want to delete knowledge item “{{knowledge().name}}”?"
        (deleteConfirmed)="onDelete()"
      />
    </div>
  }
</div>
