<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <div [class]="dotCSSClass(knowledge().color)"
         class="dot-preview me-3"></div>

    <div>
      <div class="fw-medium">
        {{ knowledge().name }}
      </div>
      <div>
        <small>{{ knowledge().description }}&nbsp;</small>
      </div>
    </div>
  </div>

  @if (showButtons()) {
    <div ngbDropdown class="minimalistic-dropdown">
      <button class="btn btn-link"
              id="dropDownToggle-{{knowledge().id}}"
              ngbDropdownToggle
              aria-expanded="false"
              aria-label="More actions"
              (click)="$event.stopPropagation()">
        <i class="bi-three-dots-vertical"></i>
        <span class="visually-hidden">More actions</span>
      </button>

      <div ngbDropdownMenu
           [attr.aria-labelledby]="'dropDownToggle-' + knowledge().id">
        <div class="dropdown-main-content">
          <button class="btn btn-primary"
                  (click)="onEdit($event)"
                  ngbDropdownItem>
            <i class="bi-pencil me-3"></i>Edit {{ knowledge().name }}
          </button>
        </div>

        <button app-delete-button
                caption="Delete {{knowledge().name}}"
                confirmationTitle="Delete knowledge item"
                confirmationMessage="Are you sure you want to delete knowledge item “{{knowledge().name}}”?"
                (deleteConfirmed)="onDelete()"
                ngbDropdownItem>
        </button>
      </div>
    </div>
  }
</div>
