<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-floating mb-3"
       [class.was-validated]="nameInput.dirty || nameInput.touched">
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="name"
      required
      minlength="2"
      maxlength="50"
      placeholder="Name"
      autofocus
      #nameInput="ngModel"
    />
    <label for="name">Name</label>
    <div class="invalid-feedback">
      Please enter a name (2-50 characters).
    </div>
  </div>

  <div class="form-floating mb-3"
       [class.was-validated]="descriptionInput.dirty || descriptionInput.touched">
    <input
      class="form-control"
      id="description"
      name="description"
      [(ngModel)]="description"
      required
      minlength="2"
      maxlength="160"
      placeholder="Description"
      #descriptionInput="ngModel"
    />
    <label for="description">Description</label>
    <div class="invalid-feedback">
      Please enter a description (2-160 characters).
    </div>
  </div>

  <div class="d-flex justify-content-end border-top pt-2 mt-2">
    <button type="button" class="btn btn-outline-secondary me-2" (click)="onCancel()">
      Cancel
    </button>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Save
    </button>
  </div>
</form>
