<div class="persons">
  <div class="toolbar mb-3"
       role="toolbar"
       aria-label="Toolbar for working with persons"
       i18n-aria-label="@@t.toolbarLabelForPersons">
    <div class="toolbar-buttons">
      <button app-add-button
              caption=" Add person "
              i18n-caption="@@t.addPerson"
              (click)="onAdd(content)">
      </button>

      <app-person-sort-buttons/>

      @if ((personsCount$ | async)! > 0) {
        <button app-delete-button
                caption="Clear all persons"
                i18n-caption="@@t.clear-all-persons"
                confirmationMessage="Are you sure you want to clear all persons?"
                i18n-confirmationMessage="@@t.clearAllPersonsConfirmationMessage"
                (deleteConfirmed)="onDeleteAll()">
        </button>
      }
    </div>

    <div class="d-flex gap-2">
      <div class="d-flex align-items-center fit-height gap-2">
        <small class="" i18n="x of y persons|@@t.xOfYPersons">
          ({{ (this.filteredPersons$ | async)?.length }} of
          {{ (this.personsCount$ | async) }} persons)
        </small>
        <app-person-search [source]="filterSource$"/>
      </div>
      <app-person-slot-filter/>
    </div>
  </div>

  <div class="content-area scrollable-area">
    <ul class="list-group">
      @for (person of filteredPersons$ | async; track person.id) {
        <li class="list-group-item list-group-item-action pointer"
            (click)="onEdit(content, person)">
          <app-person-view
            [person]="person"
            (edit)="onEdit(content, $event)"
            (delete)="onDelete($event)"
          />
        </li>
      } @empty {
        <app-data-not-available-view title="No persons found"
                                     i18n-title="@@t.no-persons-found"
                                     mode="warning"
                                     [messageTemplate]="messageTemplate"/>
      }
    </ul>
  </div>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ offcanvasTitle }}</h4>
    <button type="button"
            tabindex="-1"
            class="btn-close"
            aria-label="Close"
            i18n-aria-label="Close|@@t.close"
            (click)="offcanvas.dismiss('Cross click')">
    </button>
  </div>

  <app-person-edit
    class="offcanvas-form"
    [person]="personToEdit"
    [edit]="edit"
    (cancelled)="onEditCancelled()"
    (saved)="onEditSaved()"
  />
</ng-template>


<ng-template #messageTemplate>
  <p i18n="|@@t.startCreatingPersons">
    Start creating persons by clicking the button below.
  </p>

  @if ((slotCount$ | async) === 0) {
    <app-data-not-available-info text="No time slots are available at the
          moment. Please consider creating time slots prior to adding
          individuals, so they can be assigned accordingly."
                                 i18n="|@@t.noTimeSlotsAvailableInfoMessage"/>
  }

  <button type="button"
          class="btn btn-primary"
          (click)="onAdd(content)"
          i18n="Add person|@@t.addPerson">
    Add person
  </button>
</ng-template>
