<app-add-header-bar
  caption="Add person"
  (addClick)="onAdd(content)"
/>

<ul class="list-group">
  @for (person of persons$ | async; track person.id) {
    <li class="list-group-item list-group-item-action pointer"
        (click)="onEdit(content, person)">
      <app-person-view
        [person]="person"
        (edit)="onEdit(content, $event)"
        (delete)="onDelete($event)"
      />
    </li>
  } @empty {
    <app-data-not-available-view title="No persons found"
                                 [messageTemplate]="messageTemplate"/>
  }
</ul>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ canvasTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>

  <div class="offcanvas-body">
    <app-person-edit
      [person]="personToEdit"
      [edit]="edit"
      (cancelled)="onEditCancelled()"
      (saved)="onEditSaved()"
    />
  </div>
</ng-template>


<ng-template #messageTemplate>
  <p>
    Start creating persons by clicking the button below.
  </p>

  @if ((slotCount$ | async) === 0) {
    <app-data-not-available-info text="No time slots are available at the
          moment. Please consider creating time slots prior to adding
          individuals, so they can be assigned accordingly." />
  }

  <button type="button"
          class="btn btn-primary"
          (click)="onAdd(content)">
    Add person
  </button>
</ng-template>
