<div class="toolbar mb-3"
     role="toolbar"
     aria-label="Toolbar for working with teams and persons">
  <div class="toolbar-buttons">
    <app-add-button caption="Add person" (addClick)="onAdd(content)"/>
    <app-person-sort-buttons/>
  </div>

  <div class="d-flex gap-2">
    <div class="d-flex align-items-center fit-height gap-2">
      <small class="">
        ({{ (this.filteredPersons$ | async)?.length }} of {{ (this.persons$ | async)?.length }} persons)
      </small>
      <app-person-search [persons]="filteredPersons$" (termUpdated)="onSearch($event)"/>
    </div>
    <app-person-slot-filter/>
  </div>
</div>

<ul class="list-group">
  @for (person of filteredPersons$ | async; track person.id) {
    <li class="list-group-item list-group-item-action pointer"
        (click)="onEdit(content, person)">
      <app-person-view
        [person]="person"
        (edit)="onEdit(content, $event)"
        (delete)="onDelete($event)"
      />
    </li>
  } @empty {
    <app-data-not-available-view title="No persons found"
                                 mode="warning"
                                 [messageTemplate]="messageTemplate"/>
  }
</ul>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ offcanvasTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>

  <div class="offcanvas-body">
    <app-person-edit
      [person]="personToEdit"
      [edit]="edit"
      (cancelled)="onEditCancelled()"
      (saved)="onEditSaved()"
    />
  </div>
</ng-template>


<ng-template #messageTemplate>
  <p>
    Start creating persons by clicking the button below.
  </p>

  @if ((slotCount$ | async) === 0) {
    <app-data-not-available-info text="No time slots are available at the
          moment. Please consider creating time slots prior to adding
          individuals, so they can be assigned accordingly."/>
  }

  <button type="button"
          class="btn btn-primary"
          (click)="onAdd(content)">
    Add person
  </button>
</ng-template>
