<div class="toolbar mb-3"
     role="toolbar"
     aria-label="Toolbar for working with time slots"
     i18n-aria-label="@@t.toolbarLabelForTimeSlotList">
  <div class="toolbar-buttons">
    <button app-add-button
            caption=" Add time slot "
            i18n-caption="@@t.addTimeSlotCaption"
            (click)="onAdd(content)">
    </button>
  </div>
  <div class="toolbar-buttons">
    <div class="btn-group">
      @if ((timeSlotCount$ | async) === 0) {
        <button type="button"
                class="btn btn-outline-primary"
                (click)="onAddDefaultSet()">
          <i class="bi-file-earmark-arrow-up me-2"></i>
          <span i18n="@@t.loadDefaultTimeSlotSet">Load default set</span>
        </button>
      }

      @if ((timeSlotCount$ | async)! > 0) {
        <button app-delete-button
                caption="Clear all time slots"
                i18n-caption="@@t.clearAllTimeSlotsCaption"
                confirmationMessage="Are you sure you want to clear all time slots?"
                i18n-confirmationMessage="@@t.clearAllTimeSlotsConfirmationMessage"
                (deleteConfirmed)="onDeleteAll()">
        </button>
      }
    </div>
  </div>
</div>

<div class="content-area scrollable-area">
  <ul class="list-group">
    @for (timeSlot of slots$ | async; track timeSlot.id) {
      <li class="list-group-item list-group-item-action pointer"
          (click)="onEdit(content, timeSlot)">
        <app-time-slot-view [timeSlot]="timeSlot"
                            (edit)="onEdit(content, $event)"
                            (delete)="onDelete($event)"
        />
      </li>
    } @empty {
      <app-data-not-available-view title="No time slots found"
                                   i18n-title="@@t.noTimeSlotsFound"
                                   mode="warning"
                                   [messageTemplate]="messageTemplate"/>
    }
  </ul>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ canvasTitle }}</h4>
    <button type="button"
            tabindex="-1"
            class="btn-close"
            aria-label="Close"
            i18n-aria-label="Close|@@t.close"
            (click)="offcanvas.dismiss('Cross click')">
    </button>
  </div>

  <app-time-slot-edit
    class="offcanvas-form"
    [timeSlot]="timeSlotToEdit"
    [edit]="edit"
    (cancelled)="onAddCancelled()"
    (saved)="onAddSaved()"
  />
</ng-template>


<ng-template #messageTemplate>
  <p i18n="|@@t.startCreatingTimeSlots">
    Start creating time slots by clicking the button below.
  </p>

  <app-data-not-available-info text="Please note that a team will be created for each time slot."
                               i18n="|@@t.timeSlotCreationInfoMessage"/>

  <button type="button"
          class="btn btn-primary"
          (click)="onAdd(content)"
          i18n="Add time slot|@@t.addTimeSlotCaption">
    Add time slot
  </button>
</ng-template>
