<div class="d-flex justify-content-between align-items-baseline pt-3 mb-3 border-bottom">
  <h2>Time slots</h2>

  <button class="btn btn-sm btn-outline-secondary"
          (click)="onAdd(content)">
    <i class="bi-plus-lg"></i>
    <span class="visually-hidden">Add time slot</span>
  </button>
</div>

<ul class="list-group">
  @for (timeSlot of slots$ | async; track timeSlot.id) {
    <a href="#" class="list-group-item list-group-item-action">
      <app-time-slot-view [timeSlot]="timeSlot"
                          (edit)="onEdit(content, $event)"
                          (delete)="onDelete($event)"
      />
    </a>
  }
</ul>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ canvasTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>

  <div class="offcanvas-body">
    <app-time-slot-edit [timeSlot]="timeSlotToEdit"
                        [edit]="edit"
                        (cancelled)="onAddCancelled()"
                        (saved)="onAddSaved()"
    />
  </div>
</ng-template>
