<div class="d-flex justify-content-end align-items-baseline py-2 mb-3">
  <button class="btn btn-sm btn-outline-secondary"
          (click)="onAdd(content)">
    <i class="bi-plus-lg me-2"></i>
    Add time slot
  </button>
</div>

<ul class="list-group">
  @for (timeSlot of slots$ | async; track timeSlot.id) {
    <div class="list-group-item list-group-item-action pointer"
         (click)="onEdit(content, timeSlot)">
      <app-time-slot-view [timeSlot]="timeSlot"
                          (edit)="onEdit(content, $event)"
                          (delete)="onDelete($event)"
      />
    </div>
  }
</ul>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ canvasTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>

  <div class="offcanvas-body">
    <app-time-slot-edit [timeSlot]="timeSlotToEdit"
                        [edit]="edit"
                        (cancelled)="onAddCancelled()"
                        (saved)="onAddSaved()"
    />
  </div>
</ng-template>
