@if (timeSlot()) {
  <form (ngSubmit)="onSubmit()" #form="ngForm"
        class="offcanvas-form">
    <div class="offcanvas-body">
      <div class="form-floating mb-3"
           [class.was-validated]="descriptionInput.dirty || descriptionInput.touched">
        <input type="text"
               class="form-control"
               id="descriptionInput"
               name="description"
               placeholder="Description"
               i18n-placeholder="@@t.timeSlotDescription"
               [(ngModel)]="description"
               minlength="2"
               maxlength="100"
               required
               #descriptionInput="ngModel">
        <label for="descriptionInput" i18n="@@t.timeSlotDescription">Description</label>
        <div class="invalid-feedback" i18n="@@t.timeSlotDescriptionError">
          Please enter a description (2-100 characters).
        </div>
      </div>

      <div>
        <div class="d-flex gap-2 justify-content-between">
          <div [class.was-validated]="startHourInput.dirty || startHourInput.touched">
            <strong>Start time</strong>
            <div class="d-flex gap-2">
              <div>
                <label for="startHourInput" class="form-label" i18n="@@t.hours">Hours</label>
                <input type="number"
                       class="form-control"
                       id="startHourInput"
                       name="startHour"
                       placeholder="HH"
                       i18n-placeholder="@@t.hourPlaceholder"
                       min="0"
                       max="23"
                       required
                       [(ngModel)]="startHour"
                       #startHourInput="ngModel">
              </div>

              <div>
                <label for="startMinuteInput" class="form-label" i18n="@@t.minutes">Minutes</label>
                <input type="number"
                       class="form-control"
                       id="startMinuteInput"
                       name="startMinute"
                       placeholder="MM"
                       i18n-placeholder="@@t.minutePlaceholder"
                       min="0"
                       max="59"
                       required
                       [(ngModel)]="startMinute"
                       #startMinuteInput="ngModel">
              </div>
            </div>
          </div>

          <div [class.was-validated]="durationHourInput.dirty || durationMinuteInput.touched">
            <strong i18n="@@t.duration">Duration</strong>
            <div class="d-flex gap-2">
              <div>
                <label for="durationHourInput" class="form-label" i18n="@@t.hours">Hours</label>
                <input type="number"
                       class="form-control"
                       id="durationHourInput"
                       name="durationHour"
                       placeholder="HH"
                       i18n-placeholder="@@t.hourPlaceholder"
                       min="0"
                       max="8"
                       required
                       [(ngModel)]="durationHour"
                       #durationHourInput="ngModel">
              </div>

              <div>
                <label for="durationMinuteInput" class="form-label" i18n="@@t.minutes">Minutes</label>
                <input type="number"
                       class="form-control"
                       id="durationMinuteInput"
                       name="durationMinute"
                       placeholder="MM"
                       i18n-placeholder="@@t.minutePlaceholder"
                       min="0"
                       max="59"
                       required
                       [(ngModel)]="durationMinute"
                       #durationMinuteInput="ngModel">
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          @if (startHourInput.invalid || startMinuteInput.invalid) {
            <div class="text-danger small" i18n="@@t.timeSlotStartError">
              Please enter a valid start time (hour: 0–23, minute: 0-59).
            </div>
          }

          @if (durationHourInput.invalid || durationMinuteInput.invalid) {
            <div class="text-danger small" i18n="@@t.timeSlotDurationError">
              Please enter a valid duration (hour: 0–8, minute: 0-59).
            </div>
          }
        </div>
      </div>

      <strong>End time: </strong>{{ endTime() | time }}

      <label for="color" class="mb-2">Color</label>
      <div id="color" class="row gap-2">
        @for (clr of colors.keys(); track $index) {
          <div class="col mb-2">
            <div [class]="dotCSSClass(clr)"
                 class="color-picker-dot focus-ring text-center align-items-center pt-1 pointer"
                 [ngbTooltip]="colors.get(clr)?.name"
                 tabindex="0"
                 (keyup)="onColorKeySelected($event, clr)"
                 (click)="onColorSelected(clr)">
              @if (clr === color) {
                <i class="bi-check fs-1" [class]="fgCSSClass(clr)"></i>
              }
            </div>
          </div>
        }
      </div>
    </div>

    <div class="offcanvas-footer">
      <button type="button"
              class="btn btn-outline-secondary"
              (click)="onCancel()"
              i18n="@@t.cancel">
        Cancel
      </button>

      <button type="submit"
              class="btn btn-primary"
              [disabled]="form.invalid"
              i18n="@@t.save">
        Save
      </button>
    </div>
  </form>
} @else {
  <p i18n="@@t.noTimeSlotSelected">No time slot selected.</p>
}
