<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    @if (showDragHandle()) {
      <div class="me-2 grabber" cdkDragHandle>
        <i class="bi-list"></i>
      </div>
    }

    <div class="d-flex flex-column">
      <span class="fw-medium">{{ timeSlot().description }}</span>
      <small class="slot-time">
        ({{ timeSlot().start | time }} – {{ timeSlot().end | time }} o’clock)
      </small>
    </div>
  </div>

  @if (showButtons()) {
    <div ngbDropdown class="minimalistic-dropdown">
      <button class="btn btn-link"
              id="dropDownToggle-{{timeSlot().id}}"
              ngbDropdownToggle
              aria-expanded="false"
              aria-label="More actions"
              (click)="$event.stopPropagation()">
        <i class="bi-three-dots-vertical"></i>
        <span class="visually-hidden">More actions</span>
      </button>

      <div ngbDropdownMenu
           [attr.aria-labelledby]="'dropDownToggle-' + timeSlot().id">
        <button class="btn btn-primary"
                (click)="onEdit($event)"
                ngbDropdownItem>
          <i class="bi-pencil me-3"></i>Edit {{ timeSlot().description }}
        </button>

        <hr class="dropdown-divider">

        <button app-delete-button
                caption="Delete {{timeSlot().description}}"
                confirmationTitle="Delete time slot"
                confirmationMessage="Are you sure you want to delete time slot “{{timeSlot().description}}”"
                (deleteConfirmed)="onDelete()"
                ngbDropdownItem>
        </button>
      </div>
    </div>
  }
</div>
