<div class="d-flex justify-content-between">
  <div class="">
    <div class="fw-bold">
      {{ person().name }}
    </div>

    <div>
      @for (knowledge of person().priorKnowledge; track knowledge.priorKnowledge.id) {
        <div class="badge text-bg-secondary rounded-pill me-2">
          {{ knowledge.priorKnowledge.name }}
        </div>
      }
    </div>

    <div>
      @for (slot of slots(); track slot.timeSlot.id) {
        <div class="badge bg-light text-primary rounded-pill me-2">
          {{ slot.timeSlot.description }}&nbsp;|&nbsp;
          <span class="badge bg-primary rounded-pill">{{ slot.priority ?? "-" }}</span>
        </div>
      }
    </div>
  </div>

  <div>
    <button class="btn btn-primary me-2" (click)="onEdit($event)">
      <i class="bi-pencil"></i>
      <span class="visually-hidden">Edit {{ person().name }}</span>
    </button>

    <app-delete-button
      confirmationTitle="Delete person"
      confirmationMessage="Are you sure you want to delete person “{{person().name}}”?"
      (deleteConfirmed)="onDelete()"
    />
  </div>
</div>
