<div class="person-view">
  @if (showDragHandle()) {
    <div class="me-2 grabber" cdkDragHandle>
      <i class="bi-list"></i>
    </div>
  }

  @if (person().timeSlots.length === 0) {
    <div ngbTooltip="This person has no time slots assigned"
         i18n-ngbTooltip="@@t.noTimeSlotsAssignedTooltip"
         tooltipClass="tooltip-danger">
      <i class="bi-exclamation-triangle text-danger me-3"></i>
    </div>
  }

  <div class="person-view-body">
    <div class="person-view-header">
      <div class="person-view-info-container">
        <h4 class="person-view-title">{{ person().name }}</h4>
        <p class="person-view-info">{{ person().info }}</p>
      </div>

      <div class="flex-grow-1"></div>

      <div class="hstack gap-2">
        @if (person().priorKnowledge.length > 0) {
          <div class="person-view-knowledge">
            @for (knowledge of person().priorKnowledge; track knowledge.priorKnowledge.id) {
              <div [class]="dotCSSClass(knowledge.priorKnowledge.color)"
                   [ngbTooltip]="tooltip"
                   [tooltipClass]="tooltipCSSClass(knowledge.priorKnowledge.color)">
              </div>

              <ng-template #tooltip>
                <div><strong>{{ knowledge.priorKnowledge.name }}: </strong></div>
                <div>{{ knowledge.remark }}</div>
              </ng-template>
            }
          </div>

          <div class="vr"></div>
        }

        <div class="person-view-timeslots-info">
          @for (slot of person().timeSlots; track slot.timeSlot.id) {
            <div [class]="dotCSSClass(slot.timeSlot.color)"
                 [ngbTooltip]="slot.timeSlot.description"
                 [tooltipClass]="tooltipCSSClass(slot.timeSlot.color)">
            </div>
          }
        </div>
      </div>

      <div class="person-view-slots">
        @for (slotPriority of slotKeys; track $index) {
          <div class="person-view-slot">
            <span class="slot-priority">{{ slotPriority }}</span>
            @for (slot of slots().get(slotPriority); track slot.timeSlot.id) {
              <app-time-slot-pill [timeSlot]="slot.timeSlot"
                                  class="me-2"/>
            }
          </div>
        }
      </div>
    </div>

    <div class="person-view-timeslots-info">
      @for (slot of person().timeSlots; track slot.timeSlot.id) {
        <div [class]="dotCSSClass(slot.timeSlot.color)"
             [ngbTooltip]="slot.timeSlot.description"
             [tooltipClass]="tooltipCSSClass(slot.timeSlot.color)">
        </div>
      }
    </div>

    <div class="person-view-knowledge">
      @for (knowledge of person().priorKnowledge; track knowledge.priorKnowledge.id) {
        <app-prior-knowledge-pill [knowledge]="knowledge.priorKnowledge"
                                  [remark]="knowledge.remark"/>
      }
    </div>
  </div>

  @if (showButtons()) {
    <div ngbDropdown class="person-view-interaction minimalistic-dropdown">
      <button class="btn btn-link"
              id="dropDownToggle-{{person().id}}"
              ngbDropdownToggle
              aria-expanded="false"
              aria-label="More actions"
              (click)="$event.stopPropagation()">
        <i class="bi-three-dots-vertical"></i>
        <span class="visually-hidden" i18n="|@@t.moreActions">More actions</span>
      </button>

      <div ngbDropdownMenu
           [attr.aria-labelledby]="'dropDownToggle-' + person().id">
        <div class="dropdown-main-content">
          <button class="btn btn-primary"
                  (click)="onEdit($event)"
                  ngbDropdownItem>
            <i class="bi-pencil me-3"></i>
            <ng-container i18n="edit person X|@@t.edit">Edit</ng-container>
            {{ person().name }}
          </button>
        </div>

        <button app-delete-button
                caption="Delete {{person().name}}"
                i18n-caption="|@@t.delete"
                confirmationTitle="Delete person"
                i18n-confirmationTitle="|@@t.deleteConfirmationTitle"
                confirmationMessage="Are you sure you want to delete person “{{person().name}}”?"
                i18n-confirmationMessage="|@@t.deleteConfirmationMessage"
                (deleteConfirmed)="onDelete()"
                ngbDropdownItem
        ></button>
      </div>
    </div>
  }
</div>
