<div class="app-layout">
  <aside class="sidebar"
         tabindex="-1"
         id="navSidebar"
         role="region"
         aria-labelledby="sidebarLabel">
    <hgroup class="sidebar-header brand">
      <i class="bi-people-fill brand-logo"></i>
      <div class="text-logo" id="sidebarLabel">
        <h2 class="sidebar-title">Teamify</h2>
        <small class="">Where Talent Meets Timing</small>
      </div>
    </hgroup>

    <nav class="sidebar-body" app-navigation></nav>

    <footer class="sidebar-footer">
      Made by raywo with <i class="bi-heart-fill text-danger"></i>&nbsp;|&nbsp;
      <i class="bi-github"></i>&nbsp;
      <a href="https://github.com/raywo-personal/teamify" target="_blank">
        Source code
      </a>
    </footer>
  </aside>


  <div class="main">
    <header class="top-bar" app-top-bar></header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
