<div class="app-layout">
  <nav class="sidebar"
       tabindex="-1"
       id="navSidebar"
       role="navigation"
       aria-labelledby="sidebarLabel">
    <div class="sidebar-header brand">
      <i class="bi-people-fill brand-logo"></i>
      <div class="text-logo" id="sidebarLabel">
        <h2 class="sidebar-title">Teamify</h2>
        <small class="">Where Talent Meets Timing</small>
      </div>
    </div>

    <div class="sidebar-body">
      <app-navigation/>
    </div>

    <footer class="sidebar-footer">
      Made by raywo with <i class="bi-heart-fill text-danger"></i>&nbsp;|&nbsp;
      <i class="bi-github"></i>&nbsp;
      <a href="https://github.com/raywo-personal/teamify" target="_blank">
        Source code
      </a>
    </footer>
  </nav>


  <div class="main">
    <header class="top-bar" app-top-bar></header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
