<form class="person-form offcanvas-form"
      [formGroup]="personForm">
  <div class="offcanvas-body scrollable-area">
    <h3>Person</h3>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3"
             [class.was-validated]="isNameFieldUsed">
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            formControlName="name"
            autofocus
            setCustomValidity
            #nameField
          >
          <label for="name">Name</label>
          <div class="invalid-feedback">
            Please enter a name (2-50 characters).
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="info"
            name="info"
            formControlName="info"
          >
          <label for="info">Information</label>
          <div class="invalid-feedback">
            Please enter information (2-150 characters).
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <h3>Prior knowledge</h3>
      <small class="mb-2">
        State what prior knowledge the person already has. This will have
        influence on the creation of groups.
      </small>

      @for (k of personForm.controls.priorKnowledge.controls; track $index) {
        <div class="col">
          <app-person-knowledge-edit [knowledgeForm]="k"/>
        </div>
      } @empty {
        <div class="col">
          <div class="alert alert-warning">
            There is no prior knowledge stored yet.
            Consider adding some by
            <a routerLink="/prior-knowledge" class="link-offset-1" (click)="onCancel()">
              clicking here
            </a>.
          </div>
        </div>
      }
    </div>

    @let slotCount = (slotCount$ | async)!;

    <div class="row">
      <div class="col">
        <h3>Time slots</h3>
        <small class="mb-2">
          <p>Select the preferred time slots for the person.</p>
          <p>
            Place them into the buckets according to the person’s preference. If
            the person has no specific preference, put the time slots into the
            first bucket.
          </p>
        </small>

        @if (slotCount === 0) {
          <div class="alert alert-danger">
            <p>
              There is no time slot stored yet. Persons can only be saved if they
              have a time slot assigned.
            </p>
            <a routerLink="/time-slots" class="btn btn-sm btn-primary mt-2"
               (click)="onCancel()">
              Add time slots
            </a>.
          </div>
        }
      </div>
    </div>

    @if (slotCount > 0) {
      <div class="row mb-4" cdkDropListGroup>
        <div class="col-8 slot-target">
          <h4 class="h6">Preferred time slots</h4>

          <div class="row">
            @for (slot of priorityTimeSlots; track $index) {
              <div class="col">
                <app-person-time-slot-bucket-edit
                  [timeSlotForm]="slot"
                  (slotDropped)="onSlotDropped($event)"
                />
              </div>
            }
          </div>
        </div>

        <div class="col-4">
          <h4 class="h6">Available time slots</h4>
          <div
            cdkDropList
            cdkDropListSortingDisabled
            [cdkDropListData]="-1"
            (cdkDropListDropped)="onSlotDropped($event)"
            class="slot-list"
          >
            @for (slot of timeSlotsSource; track slot.id) {
              <div class="slot-pill"
                   cdkDrag
                   [cdkDragData]="{priority: AVAILABLE_SLOTS_PRIORITY, slot: slot}">
                <div class="slot-pill-placeholder" *cdkDragPlaceholder></div>
                <app-time-slot-view [timeSlot]="slot"
                                    [showButtons]="false"
                                    [showDragHandle]="true"/>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>

  <div class="offcanvas-footer">
    <button type="button" class="btn btn-outline-secondary me-2" (click)="onCancel()">
      Cancel
    </button>

    <div>
      <button [type]="edit() ? 'submit' : 'button'"
              class="btn btn-primary"
              [disabled]="personForm.invalid"
              (click)="onSubmit()">
        Save
      </button>

      @if (!edit()) {
        <button type="submit" class="btn btn-primary ms-3"
                [disabled]="personForm.invalid"
                (click)="onNextAdd()">
          Add next person <i class="bi-chevron-right"></i>
        </button>
      }
    </div>
  </div>
</form>
