<button class="btn btn-danger" (click)="onClick(content, $event)">
  @if (showIcon()) {
    <i class="bi-trash"></i>
  }

  @if (caption()) {
    {{ caption() }}
  } @else {
    <span class="visually-hidden">Delete</span>
  }
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    @if (confirmationTitle()) {
      <h3 class="modal-title">{{ confirmationTitle() }}</h3>
    } @else {
      <h3 class="modal-title">Delete</h3>
    }
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    @if (confirmationMessage()) {
      {{ confirmationMessage() }}
    } @else {
      <p>Are you sure you want to delete this item?</p>
    }
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Delete</button>
  </div>
</ng-template>
