<section class="team"
         [class]="bgCSSClass(team().timeSlot.color)">
  <div class="team-header">
    <h4>{{ team().timeSlot.description }} <small>({{ team().persons.length }} members)</small></h4>

    <div class="d-flex align-items-center">
      @if (!isEditing) {
        @if (team().name && team().name !== "") {
          <strong>{{ team().name }}</strong>
        } @else {
          <ng-container i18n="@@t.noNameGiven">No name given</ng-container>
        }

        <button class="btn btn-link btn-sm" (click)="onEdit()">
          <i class="bi-pencil ms-2"></i>
          <span class="visually-hidden" i18n="@@t.edit">Edit</span>
        </button>
      } @else {
        <app-team-name-edit [name]="team().name || ''"
                            (editCancelled)="onEditCancelled()"
                            (editConfirmed)="onEditConfirmed($event)"/>
      }
    </div>

    <div>
      <small>
        {{ team().timeSlot.start | time }}–{{ team().timeSlot.end | time }}
      </small>
    </div>
  </div>

  <div class="team-body">
    <div class="person-list"
         cdkDropList
         (cdkDropListDropped)="onDrop($event)"
    >
      @for (person of team().persons; track person.id) {
        <div class="person-mini-view shadow-sm"
             cdkDrag
             [cdkDragData]="{originTeam: team(), person: person}">
          <div class="person-placeholder" *cdkDragPlaceholder></div>
          <app-person-view [person]="person"
                           [showButtons]="false"
                           [showDragHandle]="true"/>
        </div>
      } @empty {
        <small class="text-muted mt-2" i18n="@@t.noPersonsAdded">No persons assigned to this team.</small>
      }
    </div>
  </div>
</section>
