<section class="team">
  <div class="team-header">
    <h4>{{ team().name }} <small>({{team().persons.length}} members)</small></h4>
    <div>
      <small>
        {{ team().timeSlot.start | time }}–{{ team().timeSlot.end | time }}
      </small>
    </div>
  </div>

  <div class="team-body">
    <div class="person-list"
         cdkDropList
         (cdkDropListDropped)="onDrop($event)"
    >
      @for (person of team().persons; track person.id) {
        <div class="person-mini-view shadow-sm"
             cdkDrag
             [cdkDragData]="{originTeam: team(), person: person}">
          <div class="person-placeholder" *cdkDragPlaceholder></div>
          <app-person-view [person]="person"
                           [showButtons]="false"
                           [showDragHandle]="true"/>
        </div>
      } @empty {
        <small class="text-muted mt-2">No persons assigned to this team.</small>
      }
    </div>
  </div>
</section>
