/* You can add global styles to this file, and also import other style files */

@use "app/styles/bootstrap-custom";
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons.css";

@use "app/styles/sidebar";
@use "app/styles/drag-drop-support";
@use "app/styles/persons";

small {
  font-weight: 300;
}

.app-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.main {
  grid-area: main;
}

.pointer {
  cursor: pointer;
}

.grabber {
  cursor: grab;
}
.grabber:active {
  cursor: grabbing;
}

.badge {
  font-weight: 500;
}

.person-offcanvas {
  width: 50% !important;
}
