/* You can add global styles to this file, and also import other style files */

@use "app/styles/bootstrap-custom";
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons.css";

@use "app/styles/sidebar";
@use "app/styles/drag-drop-support";
@use "app/styles/persons";
@use "app/styles/grouping";
@use "app/styles/teams";
@use "app/styles/info-box";
@use "app/styles/toolbar";

small, .small {
  font-weight: 300;
}

$sidebar-fr: 1;
$main-fr: 4;
$full-view-fr: $sidebar-fr + $main-fr;

.app-layout {
  --sidebar-width: calc(#{$sidebar-fr} / #{$full-view-fr} * 100%);
  --top-bar-height: 4.25rem;
  --tool-bar-height: 4rem;
  --list-height: calc(100vh - var(--top-bar-height) - var(--tool-bar-height) - 4rem);

  display: grid;
  grid-template-areas:
    "sidebar topbar"
    "sidebar main";
  grid-template-columns: #{$sidebar-fr}fr #{$main-fr}fr;
  grid-template-rows: var(--top-bar-height) 1fr;
  gap: 0 1.5rem;

  height: 100vh;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;

  padding-right: 1rem;
  padding-bottom: 1.5rem;

  height: calc(100vh - var(--top-bar-height));
  overflow: hidden;
}

.top-bar {
  grid-area: topbar;
  height: var(--top-bar-height);

  display: flex;
  align-items: center;

  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  background: var(--bs-body-bg);

  h2 {
    font-size: 1.5rem;
  }
}

.content-area {
  height: calc(var(--list-height) + 2rem);
  overflow: hidden;
}

.scrollable-area {
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.pointer {
  cursor: pointer;
}

.grabber {
  cursor: grab;
}

.grabber:active {
  cursor: grabbing;
}

.badge {
  font-weight: 500;
}

