/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons.css";

@use "app/styles/time-slots";


.app-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.sidebar {
  grid-area: sidebar;
}

.top-bar {
  height: fit-content;
}

.main {
  grid-area: main;
}
