<div class="grouping">
  <div class="toolbar"
       role="toolbar"
       aria-label="Toolbar for working with teams and persons">
    <div class="toolbar-buttons">
      <button class="btn btn-outline-secondary btn-sm"
              (click)="onFillTeams()">
        <i class="bi-people-fill me-2"></i>
        <span>Fill teams</span>
      </button>

      <button class="btn btn-outline-danger btn-sm"
              (click)="onClearTeams()">
        <i class="bi-trash me-2"></i>
        <span>Clear all teams</span>
      </button>

      <app-person-sort-buttons/>

      <div>
        <button class="btn btn-outline-secondary btn-sm"
                (click)="onCreateFakeData()"
                [disabled]="(personsCount$ | async) !== 0">
          <i class="bi-journal-plus me-2"></i>
          <span>Create fake data</span>
        </button>
      </div>
    </div>

    <div class="d-flex gap-2">
      <app-person-search [source]="filterSource$"/>
      <app-person-slot-filter/>
    </div>
  </div>

  <div class="grouping-main" cdkDropListGroup>
    <div class="grouping-persons">
      <h3>
        Persons
        <small class="ms-2">({{ (filteredPersons$ | async)?.length }}/{{ (personsCount$ | async) }})</small>
      </h3>
      <div class="grouping-person-list mt-3"
           cdkDropList
           (cdkDropListDropped)="onDrop($event)">
        @for (person of filteredPersons$ | async; track person.id) {
          <div class="person-mini-view shadow-sm"
               cdkDrag
               [cdkDragData]="{origin: 'available', person: person}">
            <div class="person-placeholder" *cdkDragPlaceholder></div>
            <app-person-view [person]="person"
                             [showButtons]="false"
                             [showDragHandle]="true"/>
          </div>
        } @empty {
          @if ((personsCount$ | async) === 0) {
            <app-data-not-available-view title="No persons found"
                                         mode="warning"
                                         [messageTemplate]="personMessageTemplate"/>
          } @else if ((filteredPersons$ | async)?.length === 0 && personFilter() === "") {
            <app-data-not-available-view title="All persons assigned"
                                         [messageTemplate]="availablePersonMessageTemplate"/>
          } @else {
            <app-data-not-available-view title="No persons found"
                                         [messageTemplate]="noPersonFoundTemplate"/>
          }
        }
      </div>
    </div>

    <div class="grouping-teams">
      <h3>Teams</h3>

      <div class="grouping-team-list mt-3">
        @for (team of teams$ | async; track $index) {
          <app-team-view [team]="team" (personDropped)="onPersonDropped($event)"/>
        } @empty {
          <app-data-not-available-view title="No teams found"
                                       mode="warning"
                                       [messageTemplate]="slotsMessageTemplate"/>
        }
      </div>
    </div>
  </div>
</div>

<ng-template #slotsMessageTemplate>
  <p>
    Start creating persons by clicking the button below.
  </p>

  @if ((slotCount$ | async) === 0) {
    <app-data-not-available-info text="No time slots are available at the
          moment. Please consider creating time slots prior to adding
          individuals, so they can be assigned accordingly."/>
  }

  <a routerLink="/time-slots" class="btn btn-primary">
    Manage time slots
  </a>
</ng-template>

<ng-template #personMessageTemplate>
  <p>
    No persons have been created yet.
  </p>
  <p>
    Begin creating persons using the button below.
  </p>

  <a routerLink="/persons" class="btn btn-primary">
    Manage persons
  </a>
</ng-template>

<ng-template #availablePersonMessageTemplate>
  <p>
    All available persons have been assigned to teams.
  </p>
</ng-template>

<ng-template #noPersonFoundTemplate>
  <p>
    No persons found with this name.
  </p>
</ng-template>
