<div class="grouping">
  <div class="grouping-toolbar"
       role="toolbar"
       aria-label="Toolbar for working with teams and persons">
    <div class="grouping-toolbar-buttons">
      <button class="btn btn-outline-secondary btn-sm"
              (click)="onFillTeams()">
        <i class="bi-people-fill me-2"></i>
        <span>Fill teams</span>
      </button>

      <button class="btn btn-outline-danger btn-sm"
              (click)="onClearTeams()">
        <i class="bi-trash me-2"></i>
        <span>Clear all teams</span>
      </button>

      <div class="btn-group-with-description">
        <div class="btn-group btn-group-sm" role="group"
             aria-labelledby="sort-label">
          <button class="btn btn-outline-secondary" (click)="onSortByName()">
            <ng-container *ngTemplateOutlet="nameSortSymbol"></ng-container>
            <span>name</span>
          </button>

          <button class="btn btn-outline-secondary" (click)="onSortByTimeSlot()">
            <ng-container *ngTemplateOutlet="slotSortSymbol"></ng-container>
            <span>time slot</span>
          </button>
        </div>

        <div class="btn-group-description" id="sort-label">Sort by</div>
      </div>

      <div>
        <button class="btn btn-outline-secondary btn-sm"
                (click)="onCreateFakeData()">
          <i class="bi-journal-plus me-2"></i>
          <span>Create fake data</span>
        </button>
      </div>
    </div>

    <div class="grouping-toolbar-filter">
      <div class="col-auto me-2">
        <label class="" for="grouping-filter">
          <i class="bi-funnel me-2"></i> <span class="visually-hidden">Filter</span>
        </label>
      </div>
      <div class="col-auto">
        <select class="form-select form-select-sm"
                id="grouping-filter"
                aria-label="Filter for time slots"
                [(ngModel)]="personFilter">
          <option value="all">All</option>
          @for (timeSlot of timeSlots$ | async; track timeSlot.id) {
            <option value="{{ timeSlot.id }}">{{ timeSlot.description }}</option>
          }
        </select>
      </div>
    </div>
  </div>

  <div class="grouping-main" cdkDropListGroup>
    <div class="grouping-persons">
      <h3>
        Persons
        <ng-container *ngTemplateOutlet="nameSortSymbol"></ng-container>
        <ng-container *ngTemplateOutlet="slotSortSymbol"></ng-container>
      </h3>
      <div class="grouping-person-list mt-3"
           cdkDropList
           [cdkDropListData]="filteredPersons"
           (cdkDropListDropped)="onDrop($event)">
        @for (person of filteredPersons; track person.id) {
          <div class="person-mini-view shadow-sm" cdkDrag>
            <div class="person-placeholder" *cdkDragPlaceholder></div>
            <app-person-view [person]="person"
                             [showButtons]="false"
                             [showDragHandle]="true"/>
          </div>
        } @empty {
          <app-data-not-available-view title="No persons found"
                                       [messageTemplate]="personMessageTemplate"/>
        }
      </div>
    </div>

    <div class="grouping-teams">
      <h3>Teams</h3>

      <div class="grouping-team-list mt-3">
        @for (team of teams$ | async; track $index) {
          <app-team-view [team]="team" (personDropped)="onPersonDropped($event)"/>
        } @empty {
          <app-data-not-available-view title="No teams found"
                                       [messageTemplate]="slotsMessageTemplate"/>
        }
      </div>
    </div>
  </div>
</div>

<ng-template #nameSortSymbol>
  <div class="sort-symbol ms-2">
    @if (nameSortOrder() === 'asc') {
      <i class="bi-sort-alpha-down"></i>
    } @else if (nameSortOrder() === 'desc') {
      <i class="bi-sort-alpha-up"></i>
    } @else {
      &nbsp;
    }
  </div>
</ng-template>

<ng-template #slotSortSymbol>
  <div class="sort-symbol ms-2">
    @if (slotSortOrder() === 'asc') {
      <i class="bi-sort-numeric-down"></i>
    } @else if (slotSortOrder() === 'desc') {
      <i class="bi-sort-numeric-up"></i>
    } @else {
      &nbsp;
    }
  </div>
</ng-template>

<ng-template #slotsMessageTemplate>
  <p>
    Start creating persons by clicking the button below.
  </p>

  @if ((slotCount$ | async) === 0) {
    <app-data-not-available-info text="No time slots are available at the
          moment. Please consider creating time slots prior to adding
          individuals, so they can be assigned accordingly."/>
  }

  <a routerLink="/time-slots" class="btn btn-primary">
    Manage time slots
  </a>
</ng-template>

<ng-template #personMessageTemplate>
  <p>
    No persons have been created yet.
  </p>
  <p>
    Begin creating persons using the button below.
  </p>

  <a routerLink="/persons" class="btn btn-primary">
    Manage persons
  </a>
</ng-template>
